h1 {
	color: #2f78b4;
}

h2 {
	color: #c94370;
}

div {
	color: white;
}

li {
	font-size: 20px;
	margin: 20px;
}

a {
	color: #9965ad;
}

a:focus {
	color: #ce98db;
}

a.big {
	padding: 5px 10px;
	margin: 10px;
	background: white;
	text-decoration: none;
}

body {
	margin:0;
	padding:0; 
	overflow: hidden;
	background-color:#181e22;
	height: 100%;
}

canvas {
	padding: 0;
	margin: auto;
	display: block;
}

pre {
	color : white;
}

button {
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}

button:active {
	filter: brightness(150%);
}

textarea {
	background-color: #384c5a;
	color: whitesmoke;
}

textarea:hover {
	background-color: #5b778b;
}
textarea:focus{
	background-color: #65869e;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.back {
	border:2px solid #c270d6;
	color: #c270d6;
	padding: 0 10px;
	padding-bottom: 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	border-radius: 12px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.back::before {
	content: "⟵";
}

.back:hover {
	background-color: #3f4a70;
}

.index {
	margin: 0 auto;
	text-align: center;
	margin: 5vmax;
	padding: 20px;
	padding-bottom: 40px;
	border: 7px double #6f9e94;
	border-radius: 5vmax;
}

.h-box {
	display: flex;
	flex-direction: line;
}

.v-box {
	display: inline-table;
	flex-direction: column;
	text-align: center;
}

.adapt {
	margin: auto;
}

.parent-box {
	display: flex;
	width: 100%;
	height: 100;
	align-items: center;
	justify-content: center;
}

.box {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}


.doc {
	top: 0px;
	right: 0px;
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.info {
	background-color: #283d4d;
	text-align: center;
	width: 100%;
	color: #aac2d1;
	font-size: 4vh;
	padding: 5px;
	padding-left:  10px;
	padding-right: 10px;
	z-index: 1;
	border: 2px solid purple;
}

.info::before {
	content: "🔎"
}

.explanation {
	background-color: #455f72;
	height: 100%;
	width: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: width 1s, visibility 0s;
	visibility: hidden;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
	z-index: 1;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.info:hover ~ .explanation {width: 45vmax; visibility: visible; transition: width 700ms, visibility 0s step-start 600ms}
.explanation:hover{visibility: visible;width: 45vmax;}

.explanation li {
	font-size: 15px;
}

.explanation p {
	text-align: left;
}

.explanation a {
	color: #5ac0c4;
}

.explanation h3 {
	color: #85b4d1;
}

.explanation table {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 5px;
}

.explanation th {
	padding: 5px;
	text-align: center;
	border: 2px solid black;
}

.explanation td {
	text-align: justify;
	border: 1px solid black;
	padding: 5px;
}

.explanation img {
	max-width: 100%;
}

div.warning {
	margin: auto;
	font-size: large;
	color: red;
	padding: 20px;
	border: 3px solid orange;
}

div.warning::before {
	content: "Il semblerait que vous soyez sur mobile. Certaines fonctinalités dans cette section ne disponibles que sur ordinateur. Si vous ne comprenez pas ce qui se passe, passez simplement votre chemin !";
}

.computer {
	display: none;
}

@media (pointer: fine) {
	div.warning {
		display: none;
	}
	.computer {
		display: block;
	}
  }